

h1{font-size: 4rem;  ;
 text-decoration: underline;
}


*{
text-align: center;

background-color: #396aac98;
}
a{  font-size: 3rem;
    color: rgba(20, 34, 49, 0.623);
    background-color: rgba(11, 123, 252, 0.425);
}
nav{
    font-size: 2rem;
    font-weight: 900;
}




li{
    font-size: 2rem;
    color: #0b161f;
    
}
source{
    text-align: left;
}

footer{
    font-size: 20px;
    text-align:right;
}